/*Common Styles*/
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 15px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*Header section styles*/
header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin: 0 5%;
}

.banner .banner-content {
    width: 40%;
    padding: 0 0 80px 0;
}

.banner-content .banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-content .banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

.banner-content .banner-flower {
    width: 40%;
}

/* Featured flowers section styles  */
.featured-flowers-section {
    margin: 130px auto 0;
    max-width: 1040px;
}

.featured-flowers-section .featured-flowers-content {
    text-align: center;
}

.featured-flowers-content .featured-flowers-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.featured-flowers-content .featured-flowers-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0 50px 0;
}

.featured-flowers {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.featured-flowers .flower {
    position: relative;
    width: 500px;
    height: 450px;
    border-radius: 380px 380px 0 0;
}

.flower img {
    position: absolute;
    bottom: 0;
}

#featured-flower-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

#featured-flower-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

#featured-flower-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.featured-flower-names {
    display: flex;
    justify-content: center;
    gap: 230px;
}

.featured-flower-names a {
    color: #272727;
}


/*Hot deals section styles*/
.hot-deals-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    box-sizing: border-box;
    padding: 200px;
    margin-top: 130px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deals-content {
    text-align: center;
    margin-right: 200px;
}

.hot-deals-content .hot-deals-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 0;
}

.hot-deals-content .hot-deals-title span,
footer .footer-title span {
    color: #E55473
}

.hot-deals-content .hot-deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

/*Instagram section styles*/
.instagram-section {
    max-width: 630px;
    margin: 130px auto 0;
}

.instagram-section .instagram-content {
    text-align: center;
}

.instagram-content .instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-content .instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.instagram-section .instagram-library {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.instagram-library img {
    width: 50%;
}

/*Latest deals section styles*/
.latest-deals-section {
    max-width: 1320px;
    box-sizing: border-box;
    text-align: center;
    padding: 120px;
    margin: 130px auto 0;
    border-radius: 8px;
    background-image: url('../assets/Rectangle-9.png');
    background-repeat: no-repeat;
}

.latest-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.latest-deals-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.subscribe-section input {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    padding: 17px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #FFF;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*Footer section styles*/
footer {
    background-color: #111010;
    text-align: center;
    padding: 120px;
    margin: 130px auto 0;
}

.footer-title {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.footer-description {
    margin: 25px 0 35px 0;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}

footer p {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}