/*Common Styles*/
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*Header section styles*/
header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin: 0 100px;
}

.banner .banner-content {
    width: 700px;
    padding: 0 0 100px 0;
}

.banner-content .banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-content .banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

/*Hot deals section styles*/
.hot-deals-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    box-sizing: border-box;
    padding: 200px;
    margin-top: 130px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deals-content {
    text-align: center;
    margin-right: 200px;
}

.hot-deals-content .hot-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.hot-deals-content .hot-deals-title span {
    color: #E55473
}

.hot-deals-content .hot-deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

/*Instagram section styles*/
.instagram-section {
    max-width: 630px;
    margin: 130px auto 0;
}

.instagram-section .instagram-content {
    text-align: center;
}

.instagram-content .instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-content .instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.instagram-section .instagram-library {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.instagram-library img {
    width: 50%;
}

/*Latest deals section styles*/
.latest-deals-section {
    max-width: 1320px;
    box-sizing: border-box;
    text-align: center;
    padding: 120px;
    margin: 130px auto 0;
    border-radius: 8px;
    background-image: url('../assets/Rectangle-9.png');
    background-repeat: no-repeat;
}

.latest-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.latest-deals-info {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.subscribe-section input {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    padding: 22px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #FFF;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}